:root {
  --dse-body-text-color: #{$kashmir-blue};
  --dse-body-bg-color: #{$white-dark};
  --dse-card-bg-color: #{$white};
  --dse-logo-text-color: #{$ebony-clay-logo}

  --dse-btn-primary-bg-hover: #{$red};
  --dse-btn-primary-color: #{$white};
  --dse-btn-primary-bg: #{$blue};
  --dse-btn-primary-bg-hover: #{$blue-light};
  --dse-body-font-family: #{$space-mono};
  --dse-body-font-size: #{$fs-sm};
  --dse-body-font-weight: #{$fw-normal};

  --dse-h1-text-weight: #{$fw-bold};
  --dse-h2-text-weight: #{$fw-bold};
}

@media (prefers-color-scheme: dark) {
  :root {
    --dse-body-bg-color: #{$big-stone};
    --dse-body-text-color: #{$white};
    --dse-card-bg-color: #{$cloud-burst};
    --dse-card-text-color: #{$white};
  }
}
