@import "foundation/all";

.dse-avatar {
  border-radius: $border-radius-rounded;
  height: $avatar-size;
  width: $avatar-size;

  @include tablet {
    height: $avatar-size-tablet;
    width: $avatar-size-tablet;
  }
}
