@import "foundation/all";

.dse-button__container {
  @include font($fs-xs, $lh-base);
  @include minSize($btn-width, $btn-height);

  align-items: center;
  background: $btn-primary-bg;
  border: none;
  border-radius: $border-radius-btn;
  color: $btn-primary-color;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-weight: $fw-bold;
  justify-content: center;
  padding: map-get($spacing, "sm");

  &:hover,
  &:disabled {
    background: $btn-primary-bg-hover;
  }

  &:disabled {
    cursor: default;
  }

  @include tablet {
    @include font($fs-base, $lh-xs);
    @include minSize($btn-width-tablet, $btn-height-tablet);
  }
}
