@import "foundation/all";

.dse-button__container {
  @include font($fs-xs, $lh-base);

  background: $btn-primary-bg;
  border: none;
  border-radius: $border-radius-btn;
  color: $btn-primary-color;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-weight: $fw-bold;
  justify-content: center;
  min-width: 5.25rem;
  min-height: 2.875rem;
  padding: map-get($spacing, "sm");
  align-items: center;
  justify-content: baseline;

  &:hover,
  &:disabled {
    background: $btn-primary-bg-hover;
  }

  &:disabled {
    cursor: default;
  }

  @include tablet {
    @include font($fs-base, $lh-xs);

    min-width: 6.625rem;
    min-height: 3.125rem;
  }
}
