@import "foundation/all";

.dse-definitions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: map-get($spacing, "none");
  padding: map-get($spacing, "xxs");

  .dse-definition {
    &__term {
      @include font($fs-micro, $lh-base);
      text-align: center;
      color: $body-text-color;
      margin-bottom: map-get($spacing, "xxs");
      @include tablet {
        @include font($fs-xxs, $lh-micro);
        text-align: left;
      }
    }

    &__desc {
      @include font($fs-base, $lh-xs);
      font-weight: $fw-bold;
      color: $definition-text-color;
      text-align: center;
      text-transform: uppercase;
      margin: map-get($spacing, "none");

      @include tablet {
        @include font($fs-lg, $lh-md);
        text-align: left;
      }
    }
  }
}
