@import "foundation/all";

.dse-fieldset {
  border: 0;
  margin: map-get($spacing, "none");
  padding: map-get($spacing, "none");
  display: flex;
  align-items: center;
  margin-right: map-get($spacing, "xs");
  max-width: 45rem;
  font-family: inherit;
  background-color: transparent;

  &__icon {
    height: 1.25rem;
    width: 1.25rem;

    @include tablet {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &__input {
    @include font($fs-xxs, $lh-sm);

    border: 0;
    color: $body-text-color;
    caret-color: $brand-color;
    display: block;
    outline: none;
    outline-offset: 0.188rem;
    position: relative;
    margin-left: 0.313rem;
    width: -webkit-fill-available;
    background-color: inherit;

    @include tablet {
      font-size: 1.125rem;
    }
  }

  ::placeholder {
    color: $body-text-color;
    font-family: $body-font-family;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    color: $body-text-color;
    font-family: $body-font-family;
  }

  ::-ms-input-placeholder {
    color: $body-text-color;
  }
}
