@import "foundation/all";

.dse-list-icon {
  margin-right: map-get($spacing, "xs");
  width: 1.125rem;
  height: fit-content;

  &--transparent {
    filter: brightness(0) saturate(100%) invert(97%) sepia(24%) saturate(6563%)
      hue-rotate(175deg) brightness(86%) contrast(83%);
  }

  @include tablet {
    width: $lh-xxs;
  }
}
